<div class="container">
    <div class="container text-center" style="margin: 30px">
        <h3>
            Agregar Producto
        </h3>
    </div>

    <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripcion del producto</label>
            <input type="text" class="form-control" id="descripcion" required="true" name="descripcion" [(ngModel)]="producto.descripcion">
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" step="any" class="form-control" id="precio" name="precio" [(ngModel)]="producto.precio">
        </div>

        <div class="mb-3">
            <label for="existencia" class="form-label">Existencia</label>
            <input type="number" class="form-control" id="existencia" name="existencia" [(ngModel)]="producto.existencia">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning btn-sm me-3">Agregar</button>
            <a href="/" class="btn btn-danger btn-sm">Regresar</a>
        </div>
    </form>
</div>