<div class="container">
    
    <div class="container text-center" style="margin: 30px">
        <h3>Sistema de Inventarios</h3>
    </div>
    
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Descripción del Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Existencias</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <th scope="row">{{producto.idProducto}}</th>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td>{{producto.existencia}}</td>
            <td class="text-center">
              <div>
                <button (click)="editarProducto(producto.idProducto)" class="btn btn-warning btn-sm me-3">editar</button>
                <button (click)="eliminarProducto(producto.idProducto)" class="btn btn-danger btn-sm">eliminar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>